
/* start css.sty */
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-12x-x-120{font-size:144%; font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmbx-12x-x-120{ font-weight: bold;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmr-9{font-size:90%;}
.ec-lmtt-9{font-size:90%; font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmbx-12{font-size:120%; font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-9{font-size:90%; font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmbx-9{ font-weight: bold;}
.ec-lmr-5{font-size:50%;}
.ec-lmr-8{font-size:80%;}
.ec-lmri-8{font-size:80%; font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.ec-lmri-8{ font-style:italic;}
.lmsy8-{font-size:80%;}
.ec-lmr-7{font-size:70%;}
.ec-lmtt-8x-x-87{font-size:69%; font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtt-8x-x-87{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{font-size:70%; font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-70{ font-family: monospace,monospace;}
.ec-lmtti-10x-x-70{font-size:70%; font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10x-x-70{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ts1-lmtti10-x-x-70{font-size:70%;}
.ts1-lmtt8-x-x-87{font-size:69%;}
.ec-lmtt-8{font-size:80%; font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmbx-7{font-size:70%; font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
.ec-lmbx-7{ font-weight: bold;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="book"]{filter: invert(1); } }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; }
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.minitoc-l,.minilot-l,.minilof-l {text-align:left;margin-left:3em;}
.minitoc-c,.minilot-c,.minilof-c {text-align:center;margin-left:3em;}
.minitoc-r,.minilot-r,.minilof-r {text-align:right;margin-left:3em;}
DIV.minitoc,DIV.minilot,DIV.minilof{margin-left:3em;}
.minitoc .sectionToc { font-weight:bold;}
.parttoc-l,.partlof-l,.partlot-l{text-align:left;}
.parttoc-c,.partlof-c,.partlot-c{text-align:center;}
.parttoc-r,.partlof-r,.partlot-r{text-align:right;}
.secttoc-l,.sectlof-l,.sectlot-l{text-align:left;}
.secttoc-c,.sectlof-c,.sectlot-c{text-align:center;}
.secttoc-r,.sectlof-r,.sectlot-r{text-align:right;}
div.subfigure {text-align:center;display:inline-block; max-width:45%;}
.rotatebox{display: inline-block;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
dl.enumerate-enumitem{display:grid; grid-template-columns: 3ch 1fr; align-items: top; row-gap:1ch;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.supertabular {text-align:center}
.uline,.uline-math{ text-decoration:underline; }
.uuline,.uuline-math{ text-decoration:underline double; }
span.sout, .sout-math {text-decoration: line-through }
span.xout, .xout-math {text-decoration: line-through underline }
span.uwave, .uwave-math {text-decoration:underline wavy; }
span.dashuline, .dashuline-math {text-decoration:underline dashed;}
span.dotuline, .dotuline-math {text-decoration:underline dotted;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.caption span.id{font-weight: bold;}
 .wrapfig-r, .wrapfig-ri, .wrapfig-ir, .wrapfig-ro, .wrapfig-or {float:right; text-align:left; margin-left:auto; margin-top:0.5em;}
 .wrapfig-l, .wrapfig-li, .wrapfig-il, .wrapfig-lo, .wrapfig-ol {float:left; text-align:left; margin-right:auto; margin-top:0.5em;}
.wrapfig-r .caption td.content, .wrapfig-ri .caption td.content, .wrapfig-ir .caption td.content, .wrapfig-ro .caption td.content, .wrapfig-or .caption td.content, .wrapfig-l .caption td.content, .wrapfig-li .caption td.content, .wrapfig-il .caption td.content, .wrapfig-lo .caption td.content, .wrapfig-ol .caption td.content {white-space: normal; }
.wrapfig-r .caption, .wrapfig-ri .caption, .wrapfig-ir .caption, .wrapfig-ro .caption, .wrapfig-or .caption, .wrapfig-l .caption, .wrapfig-li .caption, .wrapfig-il .caption, .wrapfig-lo .caption, .wrapfig-ol .caption {width:30%; }
span.textso{letter-spacing: 0.3em; word-spacing: 0.3em}
span.textul{text-decoration:underline}
span.textst{text-decoration:line-through}
span.textcaps{font-variant:small-caps}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
img[src="book5x.svg"]{vertical-align:-0%}
img[src="book6x.svg"]{vertical-align:-0%}
img[src="book7x.svg"]{vertical-align:-0%}
#listing-1{background-color:#F2F2F2;}
#listing-2{background-color:#F2F2F2;}
#tcolobox-1 .tcolorbox-title{color: #000000; background-color: #FFCC99;}
#tcolobox-1 .tcolorbox-content{color: #000000; background-color: #FFF9F2; border: 1px solid #FFCC99;}
#tcolobox-1 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:2.84526px; }
#listing-3{background-color:#F2F2F2;}
#tcolobox-2 .tcolorbox-title{color: #000000; background-color: #FFCC99;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #FFF9F2; border: 1px solid #FFCC99;}
#tcolobox-2 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:2.84526px; }
#listing-4{background-color:#F2F2F2;}
#listing-5{background-color:#F2F2F2;}
#listing-6{background-color:#F2F2F2;}
#listing-7{background-color:#F2F2F2;}
#listing-8{background-color:#F2F2F2;}
#listing-9{background-color:#F2F2F2;}
#listing-10{background-color:#F2F2F2;}
#listing-11{background-color:#F2F2F2;}
#listing-12{background-color:#F2F2F2;}
#listing-13{background-color:#F2F2F2;}
#listing-14{background-color:#F2F2F2;}
#listing-15{background-color:#F2F2F2;}
#listing-16{background-color:#F2F2F2;}
#listing-17{background-color:#F2F2F2;}
#listing-18{background-color:#F2F2F2;}
#listing-19{background-color:#F2F2F2;}
#listing-20{background-color:#F2F2F2;}
#listing-21{background-color:#F2F2F2;}
#listing-22{background-color:#F2F2F2;}
#listing-23{background-color:#F2F2F2;}
#listing-24{background-color:#F2F2F2;}
#listing-25{background-color:#F2F2F2;}
#listing-26{background-color:#F2F2F2;}
#listing-27{background-color:#F2F2F2;}
#listing-28{background-color:#F2F2F2;}
#listing-29{background-color:#F2F2F2;}
#listing-30{background-color:#F2F2F2;}
#listing-31{background-color:#F2F2F2;}
#listing-32{background-color:#F2F2F2;}
#listing-33{background-color:#F2F2F2;}
#listing-34{background-color:#F2F2F2;}
#listing-35{background-color:#F2F2F2;}
#listing-36{background-color:#F2F2F2;}
#listing-37{background-color:#F2F2F2;}
#listing-38{background-color:#F2F2F2;}
#listing-39{background-color:#F2F2F2;}
#listing-40{background-color:#F2F2F2;}
#listing-41{background-color:#F2F2F2;}
#listing-42{background-color:#F2F2F2;}
#listing-43{background-color:#F2F2F2;}
#listing-44{background-color:#F2F2F2;}
#listing-45{background-color:#F2F2F2;}
#listing-46{background-color:#F2F2F2;}
#listing-47{background-color:#F2F2F2;}
#listing-48{background-color:#F2F2F2;}
#listing-49{background-color:#F2F2F2;}
#listing-50{background-color:#F2F2F2;}
#listing-51{background-color:#F2F2F2;}
#listing-52{background-color:#F2F2F2;}
#listing-53{background-color:#F2F2F2;}
#listing-54{background-color:#F2F2F2;}
#listing-55{background-color:#F2F2F2;}
#listing-56{background-color:#F2F2F2;}
#listing-57{background-color:#F2F2F2;}
#listing-58{background-color:#F2F2F2;}
#listing-59{background-color:#F2F2F2;}
#listing-60{background-color:#F2F2F2;}
#listing-61{background-color:#F2F2F2;}
#listing-62{background-color:#F2F2F2;}
#listing-63{background-color:#F2F2F2;}
#listing-64{background-color:#F2F2F2;}
#listing-65{background-color:#F2F2F2;}
#listing-66{background-color:#F2F2F2;}
#listing-67{background-color:#F2F2F2;}
#listing-68{background-color:#F2F2F2;}
#listing-69{background-color:#F2F2F2;}
#listing-70{background-color:#F2F2F2;}
#listing-71{background-color:#F2F2F2;}
#listing-72{background-color:#F2F2F2;}
#listing-73{background-color:#F2F2F2;}
#listing-74{background-color:#F2F2F2;}
#listing-75{background-color:#F2F2F2;}
#listing-76{background-color:#F2F2F2;}
#listing-77{background-color:#F2F2F2;}
#listing-78{background-color:#F2F2F2;}
#listing-79{background-color:#F2F2F2;}
#listing-80{background-color:#F2F2F2;}
#listing-81{background-color:#F2F2F2;}
#listing-82{background-color:#F2F2F2;}
#listing-83{background-color:#F2F2F2;}
#listing-84{background-color:#F2F2F2;}
#listing-85{background-color:#F2F2F2;}
#listing-86{background-color:#F2F2F2;}
#listing-87{background-color:#F2F2F2;}
#listing-88{background-color:#F2F2F2;}
#listing-89{background-color:#F2F2F2;}
#listing-90{background-color:#F2F2F2;}
#listing-91{background-color:#F2F2F2;}
#listing-92{background-color:#F2F2F2;}
#listing-93{background-color:#F2F2F2;}
#listing-94{background-color:#F2F2F2;}
#listing-95{background-color:#F2F2F2;}
#listing-96{background-color:#F2F2F2;}
#listing-97{background-color:#F2F2F2;}
#listing-98{background-color:#F2F2F2;}
#listing-99{background-color:#F2F2F2;}
#listing-100{background-color:#F2F2F2;}
#listing-101{background-color:#F2F2F2;}
#listing-102{background-color:#F2F2F2;}
#listing-103{background-color:#F2F2F2;}
#listing-104{background-color:#F2F2F2;}
#listing-105{background-color:#F2F2F2;}
#TBL-3-1{border-left: 1px solid black;}
#TBL-3-1{border-right:1px solid black;}
#TBL-3-2{border-right:1px solid black;}
/* end css.sty */

