name: Release jac-byllm to PYPI

on:
  workflow_dispatch:

jobs:
  release-byllm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jac-byllm
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install build tools
        run: |
          pip install build twine
      - name: Build package
        run: python -m build
      - name: Publish package
        run: |
          twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }}
        continue-on-error: true
      # - run: pip install githubrelease markdown-to-json
      # - run: python scripts/gh_release.py
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
